.flex-container {
  display: flex;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.generic-btn {
    background-color: var(--button-color);
    padding: 0.25rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.05rem;
    cursor: pointer;
}
.generic-btn:hover {
    background-color: var(--hover-color);
}